@charset "utf-8";

.content-1 .tag-group .tag{
    float: left;
    display: block;
    width: 30%;
    height: .26rem;
    line-height: .26rem;
    text-align: center;
    border: .01rem solid #DBDBDB;
    border-radius: .03rem;
    margin-right: 4.9%;
    margin-top: .1rem;
    font-size: .1rem;
    color: #A2A2A2;
}
.content-2 .tag-group .tag,
.content-3 .tag-group .tag{
    float: left;
    display: block;
    width: 48%;
    height: .26rem;
    line-height: .26rem;
    text-align: center;
    border: .01rem solid #DBDBDB;
    border-radius: .03rem;
    margin-right: 2.9%;
    margin-top: .1rem;
    font-size: .1rem;
    color: #A2A2A2;
}
.content-1 .tag-group .tag.active,
.content-2 .tag-group .tag.active,
.content-3 .tag-group .tag.active{
    color: #0A5DF1;
    border: 1px solid #0A5DF1;
}
.content-1 .tag-group .tag:nth-child(3n){
    margin-right: 0;
}
.content-2 .tag-group .tag:nth-child(2n),
.content-3 .tag-group .tag:nth-child(2n){
    margin-right: 0;
}
.section_1 .content-1 .title-1{
    font-size: .14rem;
    color: #323232;
    margin-bottom: .05rem;
}
.section_1 .content-2 .title-2,
.section_1 .content-3 .title-3,
.section_1 .content-4 .title-4,
.section_1 .content-5 .title-5{
    font-size: .14rem;
    color: #323232;
    margin-top: .35rem;
    margin-bottom: .05rem;
}
.section_1 .content-4 .upload-wrapper img{
    display: block;
    width: 1.62rem;
    padding: .1rem;
    margin: .2rem auto .15rem;
    border: 1px dashed #00CCFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.section_1 .content-4 .upload-wrapper label{
    display: block;
    width: 1.04rem;
    height: .34rem;
    line-height: .34rem;
    font-size: .11rem;
    color: #045DAC;
    border: 1px solid #0A5DF1;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    border-radius: .04rem;
    margin: 0 auto .2rem;
    text-align: center;
}
.section_1 .content-5 textarea{
    width: 100%;
    background: #FEFEFE;
    border: 1px solid #EFEFEF;
    -webkit-border-radius: .09rem;
    -moz-border-radius: .09rem;
    border-radius: .09rem;
    resize: none;
    margin-top: .1rem;
}
.btn-submit{
    background-image: linear-gradient(222deg, #00CCFF 0%, #0A5DF1 100%);
    border-radius: 4px;
    padding: 0;
    width: 1.5rem;
    height: .34rem;
    line-height: .34rem;
    margin-top: .17rem;
    margin-bottom: .4rem;
    font-size: .12rem;
}
.coache-layer .l_1{
    margin-bottom: .1rem;
}
.coache-layer .l_2 {
    margin-bottom: 0;
    margin-top: -.05rem;
}
.coache-layer .btn-ok{
    margin-top: .2rem;
}