@charset "utf-8";

.section_1 .t3_header {
    padding: .10rem .1rem .36rem .1rem;
    text-align: center;
    color: #fff;
    font-size: .16rem;
    background: url("../img/导图/切图-通用顶部颜色.png") no-repeat center;
    background-size: cover;
}

.section_1 .t3_header img {
    width: 1.10rem;
    height: 1.10rem;
}

.section_1 .btn-group {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    padding: .2rem .2rem 0 .2rem;
    margin-bottom: -.55rem;
}

.section_1 .btn-group > div {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    padding: 0 .1rem;
}

.section_1 .btn-studyqk,
.section_1 .btn-basicqk {
    background: #FAFAFA !important;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.21);
    border-radius: 40.5px;
    font-size: .12rem;
    color: #045DAC !important;
    width: 1.33rem;
    height: .4rem;
    padding: 0;
    line-height: .4rem;
    margin: 0;
}

.section_1 .btn-studyqk.active {
    background-image: linear-gradient(210deg, #00CCFF 0%, #0A5DF1 100%) !important;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.21) !important;
    color: #fff !important;
}

.section_1 .basic_1 {
    font-size: .16rem;
    color: #FFFFFF;
}

.section_1 .basic_2 {
    font-size: .10rem;
    color: #FFFFFF;
}
.section_2 .study-lists{
    padding: .2rem;
}
.section_2 .study-lists .study-list:first-child{
    margin-top: .2rem;
}
.section_2 .study-lists .study-list{
    background: url("../img/导图/切图-列表样式-1.png") no-repeat top;
    background-size: 100% 100%;
    padding: .10rem .10rem .10rem .20rem;
    margin-bottom: .2rem;
}
.section_2 .study-lists .study-list:nth-child(2n){
    background: url("../img/导图/切图-列表样式-2.png") no-repeat top;
    background-size: 100% 100%;
}
.section_2 .s-top,
.section_2 .s-bot{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}
.section_2 .s-top .top-left{
    width: .45rem;
    height: .45rem;
    border: 1px dashed #0A5DF1;
    text-align: center;
    line-height: .45rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: .09rem;
    color: #045DAC;
}
.section_2 .s-top .top-left.review{
    background: #0A5DF1;
    border: none;
    color: #fff;
}
.section_2 .s-top .top-mid{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    margin-left: .05rem;
    margin-right: .05rem;
}
.section_2 .s-top .top-right{
    width: .45rem;
}
.section_2 .s-top .top-right img{
    width: 100%;
}
.section_2 .s-top .top-mid .p1{
    font-size: .18rem;
    color: #3A444A;
}
.section_2 .s-top .top-mid .p2{
    font-size: .09rem;
    color: #3A444A;
}
.section_2 .s-bot{
    margin-right: -.05rem;
    margin-left: -.05rem;
    margin-top: .04rem;
}
.section_2 .s-bot>div{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    padding: .05rem;
}
.section_2 .s-bot>div>a{
    border: 1px dashed #045DAC;
    border-radius: 24.5px;
    height: .25rem;
    padding: 0;
    line-height: .25rem;
    background: transparent !important;
    font-size: .1rem;
    color: #3A444A !important;
}
.section_2 .s-bot>div>a>img{
    display: inline-block;
    vertical-align: middle;
    width: .12rem;
    margin-top: -.04rem;
}